data.table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 10px;
	white-space:nowrap;
    border-bottom:    1px solid  #F8F8F8;
    margin-top: 50px;
    margin:0px;
}

th {
	padding: 2px 20px 2px 40px;
    text-align:center;
	vertical-align: top;
}

thead tr {
	background:#428bca;
	text-align:center;
}

tr {
	background:#A8A8A8;
	font-family: verdana,arial,sans-serif;
	font-size:11px;	
	padding: 2px 15px 2px 30px;
	border-collapse: separate;
	border-spacing: 0;
	white-space:nowrap;
	text-align:center;
	border-bottom:    1px solid  #F8F8F8;
}
th.sorted {
	background-color: #A9A9A9;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
	background-repeat: no-repeat;
	background-position: right;
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
	background-repeat: no-repeat;
	background-position: right;
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
	background-repeat: no-repeat;
	background-position: right;
}

tr.odd {
	background-color: #FFFFFF;
	color:#333333;
}

tr.tableRowEven,tr.even {
	background-color: #F8F8F8;
	color:#333333;
}

div.exportlinks {
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
		background-repeat: no-repeat;
}

span.csv {
	background-image: url(../img/ico_file_csv.png);
		background-repeat: no-repeat;
}

span.xml {
	background-image: url(../img/ico_file_xml.png);
		background-repeat: no-repeat;
}

span.pdf {
	background-image: url(../img/ico_file_pdf.png);
		background-repeat: no-repeat;
}

span.rtf {
	background-image: url(../img/ico_file_rtf.png);
		background-repeat: no-repeat;
}

span.pagebanner {
	padding: 2px 4px 2px 4px;
	margin-top: 10px;
	display:inline;
	border-bottom: none;
}

span.pagelinks {
	padding: 2px 4px 2px 4px;
	margin-top: 0px;
	border-bottom: none;
}

